.review-card{
    padding: 40px 130px 30px 40px;
    border-radius: 30px;
    background-color: #f8f8f8;
    display: flex;
    flex-direction: column;
    gap: 11px;
    min-width: 584px;
    &:nth-child(even){
        background-color: $accent-color;
        &.review-card__text{
            color:#fff;
        }
        .review-card__name{
            color:#fff;
        }
    }
    &:nth-child(2n){
        margin-top: 100px;
    }
    &:nth-child(3n){
        margin-top: 40px;
    }
    &__text{
        color:#636262;
        max-width: 414px;
        flex:1;
    }
    &__stars{
        margin-bottom: 33px;
        display: flex;
        gap: 8px;
        align-items: center;
    }
    &__user{
        display: flex;
        gap: 24px;
        align-items: center;
    }
    &__img{
        border-radius: 50%;
    }
    &__name{
        @extend %inter-500;
        color:#000;
    }
    @media(max-width:610px){
        padding-right: 40px;
        min-width: auto;
    }
}